*.pyc
*.swp
*.txt
AgeImages/
BenchmarkSupUnsupArticle/
ELLArticle_GTSRB32C/
ELLArticle_GTSRB32C_old/
ELLArticle_Gender/
ELLArticle_Gender_Color/
ELLArticle_MNIST8C/
GTSRB_ELL_test/
GenderExactLabel/
ImagesGender2Class/
ImagesLaurenz/
MNIST/
MNIST_8digits/
MNIST_ILFO/
MNIST_Results/
MNIST_Semisupervised/
NLIPCAtest/
Cuicuilco_auxiliary/
backup_2015_02_13/
backup_2016_04_13/
backup_cui_run_2015_06_26/
cuic_libsvm2/
del/
libsvm_data/
obsolete_backup/
older_program_executions/
r/
r2/
r3/
r4/
r5/
r6/
r7/
scripts_iteration/
scripts_tuning/
scripts_various/
tmp_data_images_results/
tune_msw256/
tune_msw32/
tune_msw64/
various_imgs/

